{{ template "widget-base.html" . }}

{{ define "widget-content" }}
{{ range .Repositories }}
{{ $repo := . }}
<a class="size-h4 color-highlight" href="https://github.com/{{ $repo.Name }}" target="_blank" rel="noreferrer">{{ $repo.Name }}</a>
<ul class="list-horizontal-text">
    <li>{{ $repo.Stars | formatNumber }} stars</li>
    <li>{{ $repo.Forks | formatNumber }} forks</li>
</ul>

{{ if gt (len $repo.Commits) 0 }}
<hr class="margin-block-8">
<a class="text-compact" href="https://github.com/{{ $repo.Name }}/commits" target="_blank" rel="noreferrer">Last {{ $.CommitsLimit }} commits</a>
<div class="flex gap-7 size-h5 margin-top-3">
    <ul class="list list-gap-2">
        {{ range $repo.Commits }}
        <li {{ dynamicRelativeTimeAttrs .CreatedAt }}></li>
        {{ end }}
    </ul>
    <ul class="list list-gap-2 min-width-0">
        {{ range $repo.Commits }}
        <li><a class="color-primary-if-not-visited text-truncate block" title="{{ .Author }}" target="_blank" rel="noreferrer" href="https://github.com/{{ $repo.Name }}/commit/{{ .Sha }}">{{ .Message }}</a></li>
        {{ end }}
    </ul>
</div>
{{ end }}

{{ if gt (len $repo.PullRequests) 0 }}
<hr class="margin-block-8">
<a class="text-compact" href="https://github.com/{{ $repo.Name }}/pulls" target="_blank" rel="noreferrer">Open pull requests ({{ $repo.OpenPullRequests | formatNumber }} total)</a>
<div class="flex gap-7 size-h5 margin-top-3">
    <ul class="list list-gap-2">
        {{ range $repo.PullRequests }}
        <li {{ dynamicRelativeTimeAttrs .CreatedAt }}></li>
        {{ end }}
    </ul>
    <ul class="list list-gap-2 min-width-0">
        {{ range $repo.PullRequests }}
        <li><a class="color-primary-if-not-visited text-truncate block" target="_blank" rel="noreferrer" href="https://github.com/{{ $repo.Name }}/pull/{{ .Number }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
</div>
{{ end }}

{{ if gt (len $repo.Issues) 0 }}
<hr class="margin-block-10">
<a class="text-compact" href="https://github.com/{{ $repo.Name }}/issues" target="_blank" rel="noreferrer">Open issues ({{ $repo.OpenIssues | formatNumber }} total)</a>
<div class="flex gap-7 size-h5 margin-top-3">
    <ul class="list list-gap-2">
        {{ range $repo.Issues }}
        <li {{ dynamicRelativeTimeAttrs .CreatedAt }}></li>
        {{ end }}
    </ul>
    <ul class="list list-gap-2 min-width-0">
        {{ range $repo.Issues }}
        <li><a class="color-primary-if-not-visited text-truncate block" target="_blank" rel="noreferrer" href="https://github.com/{{ $repo.Name }}/issues/{{ .Number }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
</div>
{{ end }}
<br>
{{ end }}
{{ end }}
